.idea
/homeworks/homework_2/null
/homeworks/homework_3/null
/homeworks/homework_4/null
/homeworks/homework_5/null
/homeworks/homework_6/null
/homeworks/homework_7/null
/homeworks/homework_7/project
/homeworks/homework_7/target
/homeworks/homework_1
/homeworks/homework_5/project
/homeworks/homework_5/target